
@media (min-aspect-ratio: 1.5/1) {
    body {
        font-family: "Computer Modern Sans", sans-serif;
        margin-left: max(10em, 170px);
        margin-right: min(20em, 200px);
        margin-top: 40px;
        margin-bottom: 100px;
    }
    .navbar {
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        background-color: #EEE;
        width: max(7em, 90px);
        height: 100%;
        padding: 20px;
        padding-top: 60px;
        z-index: 100;
    }
        .navbar ul {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        .navbar li {
            text-align: center;
        }


        .navbar a {
            display: block;
            padding-top: 14px;
            padding-bottom: 5px;
            font-size: 22px;
            text-decoration: none;
        }

            .navbar a:hover {
                background: #ddd;
                color: black;
            }


}

@media (max-aspect-ratio: 1.5/1) {
    body {
        font-family: "Computer Modern Sans", sans-serif;
        margin-left: min(10em, 100px);
        margin-right: min(10em, 100px);
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .navbar {
        display: flex;
        flex-direction: row;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        background-color: #EEE;
        width: 100em;
        height: auto;
        padding: 0px;
        z-index: 100;
    }
        .navbar ul {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            margin: 0;
        }
        .navbar li {
            text-align: left;
        }


        .navbar a {
            display: block;
            padding: 10px;
            font-size: 18px;
            text-decoration: none;
        }

            .navbar a:hover {
                background: #ddd;
                color: black;
            }

}









    section {
        padding-top: 30px;
    }

    h1 {
        padding-top: 30px;
        color: #00008B;
        font-size: 48px;
    }

    h2 {
        color: #00008B;
        font-size: 48px;
        margin-bottom: 0px;
    }

    h3 {
        color: #00008B;
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 0px;
    }

    h4 {
        color: #00008B;
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    div {
        margin-bottom: 40px;
        margin-right: 10px;
        text-align: justify;
    }

    p {
        color: black;
        font-size: 18px;
        text-align: justify;
        line-height: 1.5;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    ul {
        color: black;
        font-size: 18px;
        text-align: justify;
        line-height: 1.5;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    li {
        color: black;
        font-size: 18px;
        text-align: justify;
        line-height: 1.5;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    a {
        color: #00008B;
        text-decoration: underline;
    }



    .container-buttons {
        max-width: min(400px,33em);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .round-image {
        width: max(200px, min(400px,33em));
        height: max(200px, min(400px,33em));
        margin-right: 40px;
        margin-left: 20px;
        border-radius: 50%;
    }



    @media (min-aspect-ratio: 1.5/1) {

        .container-about {
            display: flex;
            align-items: center;
            margin-bottom: 40px;
            text-align: justify;
        }

        .container-research {
            display: flex;
            text-align: justify;
            align-items: center;
        }

        .container-research-left {
            width: 66em;
            padding-right: 20px;
        }

        .container-research-right {
            width: 33em;
            padding-left: 20px;
        }


        .about-map-image {
            width: min(400px, 25em);
            height: min(400px, 25em);
            margin-right: 40px;
            margin-left: 20px;
            border-radius: 30%;
        }

        .about-dfine-image {
            width: min(400px, 25em);
            height: min(133px, 8em);
            margin-right: 40px;
            margin-left: 20px;
        }

        .about-rtglogo-image {
            width: min(480px, 24em);
            height: min(300px, 15em);
            margin-right: 40px;
            margin-left: 20px;
            border-radius: 30%;
        }

        .research-image {
            width: 100%;
            min-width: 200px;
            max-width: 500px;
            margin-right: 20px;
            margin-left: 20px;
        }

        .research-image-torus {
            max-width: min(500px,30em);
            padding-bottom: 0px;
        }

        .canvas_rw {
            width: 30em;
            height: 30em;
            max-width: 300px;
            max-height: 300px;
            margin-right: 20px;
            margin-left: 20px;
            align-self: end;
            border: 2px solid black;
        }
    }

    @media (max-aspect-ratio: 1.5/1) {

        .container-about {
            text-align: justify;
        }

        .container-centered {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .about-map-image {
            width: min(500px, 50em);
            height: min(500px, 50em);
            margin-right: 40px;
            margin-left: 20px;
            border-radius: 30%;
        }


        .about-dfine-image {
            width: min(500px, 50em);
            height: min(166px, 16em);
            margin-right: 40px;
            margin-left: 20px;
        }

        .about-rtglogo-image {
            width: min(480px, 48em);
            height: min(300px, 30em);
            margin-right: 40px;
            margin-left: 20px;
            border-radius: 30%;
        }

        .research-image {
            width: 60em;
            max-width: 500px;
        }

        .research-image-torus {
            width: 70em;
            max-width: 500px;
            padding-bottom: 0px;
        }

        .container-research {
            text-align: justify;
        }

        .container-research-left {
            padding-right: 20px;
        }

        .container-research-right {
            padding-left: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .canvas_rw {
            width: 60em;
            height: 60em;
            max-width: 500px;
            max-height: 500px;
            border: 2px solid black;
        }
    }

    .container-research img {
        height: 100%;
        object-fit: cover;
        margin-right: 10px;
    }

    .div-centered {
        text-align: center;
    }

    .caption {
        flex: 1;
    }
